    <script>
        var data = {{ data|tojson|safe }};
        const form = data.form; 
        const endpoint = data.endpoint // or /variations
        const type = data.type // text/plain 
    </script>

    {% if data.endpoint == '/image-variations' %}
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/variations.js') }}"></script>
    {% endif %}

    {% if data.endpoint == '/generate' %}
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/generate.js') }}"></script>
    {% endif %}

    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?render=6LdeTdAjAAAAAPGWzX9fKu4lUXMeef2zaAhs-nXy"></script>
    <footer id="footer" class="dark-theme">
        <div class="container">
            <div class="row">
                <div class="column"> 
                    <h4>Dalle-E 2: The Ultimate Image Generator</h4>
                    <p> Powered by <a href="https://openai.com/api/">OpenAI</a>. This simple web-application harnesses the latest in machine learning technology to bring your imagination to life.</p>
                    <br>
                    <small>Copyright © 2023 DALLE-E 2 Image Generator. All rights reserved. <a href="/privacy"> Privacy Policy </a></small>
                </div> 
                <div class="column column-30">
                    <h4>Links</h4>
                    <a href="https://www.instagram.com/ai_imagenerator/">Instagram</a>
                </div>
            </div> 
        </div>
    </footer>
</body>
</html>