<div class="row">
    <div class="column column-30"> 
        <img src="{{url_for('static', filename='images/img-2siWY0adVNdAK3aU9NCDerIB.png')}}" alt="Anthropomorphic Beluga, whale person, Lawyer wearing a suit, Portrait of a slim man with grey skin looking into the camera, by Joel Santos.">
        <blockquote>
            <span class="pln"></span>
            <p><em><span class="pln">"Anthropomorphic Beluga, whale person, Lawyer wearing a suit, Portrait of a slim man with grey skin looking into the camera, by Joel Santos."</span></em></p>
        </blockquote> 
    </div>
    <div class="column column-30"> 
        <img src="{{url_for('static', filename='images/img-FBoO3CQ2WcNkpCc0uabrKkDI.png')}}" alt="close-up photo of old Arab man's face, 100yo, high detail, studio, sharp, golden hour, studio, 85mm sigma art lens, editorial fashion photography, from Vogue magazine">      
        <blockquote>
            <span class="pln"></span>
            <p><em><span class="pln">"close-up photo of old Arab man's face, 100yo, high detail, studio, sharp, golden hour, studio, 85mm sigma art lens, editorial fashion photography, from Vogue magazine"</span></em></p>
        </blockquote>
    </div>
    <div class="column column-30"> 
        <img src="{{url_for('static', filename='images/img-tal4oES9sxvBifwAi2NKRMoa.png')}}" alt="A puzzled robot is looking at a painting.">
        <blockquote>
            <span class="pln"></span>
            <p><em><span class="pln">"A puzzled robot is looking at a painting."</span></em></p>
        </blockquote> 
    </div>
</div>