{% extends 'layouts/main.html' %}

{% block title %} DALLE-E 2: The Ultimate Image Generator {% endblock %}

{% block content %} 
    <div class="columnn column-100">
        <h1>Welcome to the DALLE-E 2 Image Generator</h1>
        <p> With our web application, you can turn your ideas into stunning, photorealistic images with just a few simple text prompts. Simply enter a description of the image you want to create, and let the power of the DALLE-E 2 API do the rest. Whether you're an artist, a designer, or just looking for a fun way to express your creativity, our image generator has something for you. </p>
        <h2>How to Use the Image Generator</h2>
        <p>
            Using our image generator is easy! Simply enter a text prompt in the input field and click the 'Generate' button. You can be as specific or as general as you like in your prompt - the DALLE-E 2 API is capable of generating a wide range of images based on your descriptions. Give it a try and see what kind of amazing images you can create!
        </p>
    </div>
{% endblock %}