{% block content %}
    
    <p> As per <a href="https://labs.openai.com/policies/content-policy">their terms</a>, OpenAI has asked those with access to DALL·E 2 to “not attempt to create, upload, or share images that are not G-rated or that could cause harm”. </p>
    <p> Their content policy goes as followed: </p>
    <ul>
        <li>Hate: hateful symbols, negative stereotypes, comparing certain groups to animals/objects, or otherwise expressing or promoting hate based on identity.</li>
        <li>Harassment: mocking, threatening, or bullying an individual.</li>
        <li>Violence: violent acts and the suffering or humiliation of others.</li>
        <li>Self-harm: suicide, cutting, eating disorders, and other attempts at harming oneself.</li>
        <li>Sexual: nudity, sexual acts, sexual services, or content otherwise meant to arouse sexual excitement.</li>
        <li>Shocking: bodily fluids, obscene gestures, or other profane subjects that may shock or disgust.</li>
        <li>Illegal activity: drug use, theft, vandalism, and other illegal activities.</li>
        <li>Deception: major conspiracies or events related to major ongoing geopolitical events.</li>
        <li>Political: politicians, ballot-boxes, protests, or other content that may be used to influence the political process or to campaign.</li>
        <li>Public and personal health: the treatment, prevention, diagnosis, or transmission of diseases, or people experiencing health ailments.</li>
        <li>Spam: unsolicited bulk content.</li>
        <li>There are further terms that elaborate on having to acknowledge shared photos are AI-generated, not uploading images of any person for modification purposes, and not using images for any form of commercial usage.</li>
    </ul> 
{% endblock %}