{% include 'partials/_head.html' %}
    <div class="container">
        <div class="row">
            <h1>{% block heading %}{% endblock %}</h1> 
        </div>
        <div class="row">
            {% block content %}{% endblock %}
        </div>
        <div class="row">
            <div class="column column-50">  
                {% include 'forms/variations.html' %}
            </div>  
            <div class="column column-50"> 
                {% include 'forms/donate.html' %}
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="row">
                    <div class="column">
                        <h3> 1024x1024 resolution </h3>
                    </div>
                    <div class="column column-offset-50 text-right">
                        <div id="link-container" class="column column-offset-25"></div>
                    </div>
                </div>
                <!-- The HTML markup for the loading animation -->
                <div id="loader" style="display: none;">
                    <h5>Loading...</h5> 
                </div>
                <div id="image-container"></div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6900518000418542" crossorigin="anonymous"></script>
                <!-- Responsive -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-6900518000418542"
                    data-ad-slot="8629523814"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>

{% include 'partials/_footer.html' %} 