<form id="generate-form" method="post" action="{{url_for('generate')}}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-group">
        {{ form.text.label }} {{ form.text(class="form-control") }}
        {% for error in form.text.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

         <!-- Add the reCAPTCHA widget --> 
         <button id="g-recaptcha-button" class="g-recaptcha" type="submit" data-sitekey="6LdeTdAjAAAAAPGWzX9fKu4lUXMeef2zaAhs-nXy" data-callback='onSubmit' data-action='submit'>Generate</button>
    </div> 
</form>